html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0rem;
  position: relative;
  transform: rotate(0deg);
  overflow: auto hidden;
}

*{
  margin: 0px;
  padding: 0px;
}

ol, ul {
	list-style: none;
}

.center {
  margin: .625rem;
  text-align: center;
  color: skyblue
}

.clear:after {
  content: "";
  display: ''; /* 清浮动 block list-item table */
  clear: both;
}

.img {
  width: 100px;
  height: 100px;
}